@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(196, 118, 106);
  text-align: center;
  color: rgb(239, 170, 161);
}

#myCanvas {
  background-image: url("https://img.freepik.com/premium-photo/empty-open-wooden-drawer_343283-95.jpg");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(248, 186, 183);;
}

h1{
  font-family:cursive;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

